<html>
  <head>
    <title>Burialmemories</title>
  </head>
  <body>
    <div class="page-data">
      <form method="post" action="/customerdata/add">
        <table cellpadding="11">
          <tr>
          </tr>
          <tr>
            <td class="label">Name</td>
            <td>
              <input type="text" name="name" />
            </td>
          </tr>
          <tr>
            <td class="label">Text</td>
            <td>
              <input type="text" name="text" />
            </td>
          </tr>
          <tr>
            <td class="label">Video</td>
            <td>
                <input type="file" name="file" action="/customerdata/upload" enctype="multipart/form-data" method="post"/>
              </td>
          </tr>
          <tr>
            <td class="label">Image</td>
            <td>
                <input type="file" name="file" action="/customerdata/upload" enctype="multipart/form-data" method="post"/>
              </td>
          </tr>
          <tr>
            <td class="label">explanation</td>
            <td>
              <input type="text" name="explanation"  />
            </td>
          </tr>
          <tr>
            <td class="label"></td>
            <td>
              <button type="submit">Save</button>
              <button type="button" onClick="cancelAddData()" >Cancel</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>